body {
    background: var(--bg-challenge-container);
  }


  .same-color,
  .title-challenge,
  .button-style,
  #challenge-text {
  color: #ffffff;
  }
  
  .to-do-app {
    box-sizing: border-box;
    background: var(--bg-to-do-app);
    font-weight: 800;
    width: 550px;
    margin: 68.5px auto;
    border-radius: 30px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.723);
    padding: 5px 10px 0;
  }
  
  .challenge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px auto;
  width: 525px;
  height: 186px;
  background: var(--bg-challenge-container);
  border-radius: 30px;
  overflow: hidden;
  }
  
  .title-challenge {
    font-weight: 800;
    font-size: 2.19rem;
    margin: 0px auto 12px auto;
    flex-direction: column;
  
  }
  
  .highlight {
    font-size: 2.81rem;
    margin-top: -20px;
  }
  
  
  .marquee {
    width: 525px;
    height: 62px;
    overflow: hidden;
    white-space: nowrap;
    background: repeating-linear-gradient(-45deg, #ECD400, #ECD400 12px, #FFE600 10px, #FFE600 25px);
    margin-top: -7px;
  }
  .marquee span {
    font-size: 2.19rem;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
  
  
  #challenge-button-container {
    margin-bottom: 2000px;
    
  }

  #challenge-text {
    display: inline-block;
    padding: 0.6rem 1rem;
    border-radius: .5rem;
    margin: 1.25rem auto ;
    font-weight: bold;
    background: var(--bg-challenge-container);
  }
  
  .study-checklist h1 {
    margin-bottom: 1rem;
    text-decoration: underline;
  }
  
  #days-container{
    width: calc(100% - 20px);
    background-color: #1e1e1e;
    padding: 5px 10px;
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: repeat(10, 1fr);
  }
  
  .day{
    border-radius: 4px;
    width: 100%;
    height: 45px;
    background-color: #4e4e4e;
  }
  .complete-day{
    background-color: #faff00;
  }
  
  .half-day{
    background-color: #00891e;
  }